/*Footer*/
footer {
  background-color: var(--cor_principal);
  color: var(--cor_fundo);
  height: 50px;
  max-width: var(--larguraG);
  margin: 0 auto;
  padding-left: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 160px 50% 150px;
}

.footer_logo {
  border-right: 2px solid var(--cor_fundo);
  line-height: 1em;
  height: 40px;
  font-size: 2.5em;
  align-self: center;
}

.footer_msg {
  border-right: 2px solid var(--cor_fundo);
  font-weight: 100;
  height: 40px;
  padding-top: 5px;
  font-size: .7em;
  align-self: center;
}

.footer_icons {
  align-self: center;
}

.footer_icons i {
  display: inline-block;
}