/* HEADER */
header {
  height: 60px;
  width: 100%;
  background-color: var(--cor_principal);
  color: var(--cor_fundo);
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  /* mix-blend-mode: multiply; */
  z-index: 100;
}

.header_container {
  max-width: 90vw;
  height: 60px;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 278px auto 100px 100px 100px 60px;
  grid-template-rows: 60px;
}

.header_logo {
  font-size: 4.5em;
  line-height: 1em;
  font-weight: 700;
  margin-right: 10px;
  align-self: baseline;
}

.header_form {
  justify-self: stretch;
  align-self: center;
  position: relative;
}

.header_busca {
  background-color: var(--cor_fundo);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.header_busca_btn {
  color: var(--cor_principal);
  font-size: 20px;
  border: 0;
  background-color: var(--cor_fundo);
  /* cursor: pointer; */
  position: absolute;
  top: 25%;
  right: 2%;
}

.header_link {
  text-decoration: none;
  color: var(--cor_fundo);
  font-weight: 100;
  font-size: 20px;
  justify-self: center;
  align-self: center;
}

.header_hamburger {
  display: none;
}

.header_user {
  justify-self: center;
  align-self: center;
}

.dropdown {
  position: relative;
}

.dropdown:hover .drop_container {
  display: block;
}

.drop_container {
  display: none;
  position: absolute;
  height: 320px;
  width: 300px;
  z-index: 10;
  right: 0;
  top: 60px;
  background-color: var(--cor_principal);
  border-radius: 10px;
}

.drop_menu {
  color: var(--cor_fundo);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 50px 50px 50px 50px;
  grid-gap: 10px;
}

.drop_menu_text {
  font-size: .75em;
  font-weight: 700;
  color: var(--cor_fundo);
  align-self: center;
  justify-self: center;
}

.drop_menu_item {
  background-color: var(--cor_fundo);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  width: 90%;
  align-self: center;
  justify-self: center;
}

.drop_menu_item__cadastro {
  text-align: center;
  text-decoration: none;
}

.burger_container {
  display: none;
  position: absolute;
  height: auto;
  width: 350px;
  z-index: 11;
  right: -25%;
  top: 60px;
  background-color: var(--cor_principal);
  border-radius: 10px;
}

.burger_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 60px 60px 60px;
}

.burger_menu_item {
  font-weight: 700;
  justify-self: center;
  align-self: center;
}

.burger_menu_item {
  text-decoration: none;
  font-size: .5em;
  color: var(--cor_fundo);
}

/*   FOOTER   */
footer {
  background-color: var(--cor_principal);
  color: var(--cor_fundo);
  height: 50px;
  max-width: var(--larguraG);
  margin: 0 auto;
  padding-left: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 160px 50% 150px;
}

.footer_logo {
  border-right: 2px solid var(--cor_fundo);
  line-height: 1em;
  height: 40px;
  font-size: 2.5em;
  align-self: center;
}

.footer_msg {
  border-right: 2px solid var(--cor_fundo);
  font-weight: 100;
  height: 40px;
  padding-top: 5px;
  font-size: .7em;
  align-self: center;
}

.footer_icons {
  align-self: center;
}

.footer_icons i {
  display: inline-block;
}

/* MEDIA QUERIES */
@media (max-width:1460px) {
  .header_container {
    grid-gap: 5px;
    grid-template-columns: 278px auto 70px 100px 60px 70px;
  }

  footer {
    max-width: var(--larguraM);
  }
}

@media (max-width:1090px) {
  .header_container {
    grid-template-columns: auto;
  }

  .header_logo {
    display: none;
  }

  .header_link {
    display: none;
  }

  .header_user {
    display: none;
  }

  .header_hamburger {
    display: block;
    position: relative;
  }

  .header_hamburger:hover .burger_container {
    display: block;
  }

  .main_banner {
    display: none;
  }

  footer {
    max-width: var(--larguraP);
    padding-left: 10px;
  }
}