:root {
  --cor_principal: black;
  --cor_fundo: #ecf0f1;
  /* --cor_fundo: #e74c3c; */
  /* --cor_fundo: #f1c40f; */
  /* --cor_fundo: #3498db; */
  /* --cor_fundo: #2ecc71; */
  --cor_sub: #95a5a6;
  /* --cor_sub: #c0392b; */
  /* --cor_sub: #f39c12; */
  /* --cor_sub: #2980b9; */
  /* --cor_sub: #27ae60; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--cor_fundo);
  min-height: 100%;
  margin: 0 auto;
  font-size: 16px;
  padding: 60px 0 0;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* Section Cards */
.main_banner {
  height: 400px;
  background: url(../imagens/bg.jpg) center no-repeat;
  background-size: cover;
}

.main_grid {
  display: grid;
  grid-gap: 30px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 90vw;
  margin: 0 auto 30px;
  padding: 20px 0 0;
}

.main_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main_card:hover .hover-opacity {
  opacity: 0.8;
}

.main_card--img {
  height: 320px;
  object-fit: cover;
  padding: 10px;
}

.price {
  font-weight: 700;
}

.main_card--info {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 12px;
}

/* .main_card--info:hover {
  opacity: 0.7;
} */