* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ecf0f1;
}

header {
  height: 60px;
  width: 100%;
  background-color: black;
  color: #ecf0f1;
}

.main_container {
  width: 1450px;
  height: 500px;
  margin: 0 auto;
  border: 1px dotted;
}

.headline{
  margin: 0 auto;
  width: 30%;
  height: 10%;
  background-color: black;
}

.headline a{
  position: absolute;
  margin-top: 7px; /* Atenção */
  margin-left: 10px; /* Atenção */
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.cont_cadastro_body {
  margin: 0 auto;
  width: 30%;
  height: 70%;
  background-color: white;
}

.photo_select{
  display: flex;
  width: 25%;
}

footer {
  background-color: black;
  color: #ecf0f1;
  height: 50px;
  width: 1450px;
  margin: 0 auto;
  vertical-align: bottom;
}
