:root {
  --cor_principal: black;
  --cor_fundo: #ecf0f1;
  /* --cor_fundo: #e74c3c; */
  /* --cor_fundo: #f1c40f; */
  /* --cor_fundo: #3498db; */
  /* --cor_fundo: #2ecc71; */
  --cor_sub: #95a5a6;
  /* --cor_sub: #c0392b; */
  /* --cor_sub: #f39c12; */
  /* --cor_sub: #2980b9; */
  /* --cor_sub: #27ae60; */
  /* desktop - 4 colunas */
  --larguraG: 1460px;
  /* tables - 3 colunas */
  --larguraM: 1090px;
  /* mobiles - 2 colunas */
  --larguraP: 720px;
  --larguraPP: 520px;
  --card_H: 450px;
  --card_W: 350px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--cor_fundo);
  height: 100%;
  margin: 0 auto;
  font-size: 16px; 
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

a {
  color: inherit;
}

/* Section Cards */


.main_grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 960px;
  margin: 0 auto 30px;
}

.main_banner {
  height: 400px;
  margin-bottom: 30px;
  padding: 30px;
  background: url(../imagens/bg.jpg) center no-repeat;
  background-size: cover;
}

.main_card {
  background-color: #bdc3c7;
}

.main_card--info {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}