* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ecf0f1;
}

header {
  height: 60px;
  width: 100%;
  background-color: black;
  color: #ecf0f1;
}

.main_container {
  width: 1450px;
  height: 500px;
  margin: 0 auto;
  border: 1px dotted;
}

.container_cadastro_headline{
  margin: 0 auto;
  width: 30%;
  height: 10%;
  background-color: black;
}

.cadastro_headline{

}

.container_cadastro_headline a{
  margin-left: 10px; /* Atenção */
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.container_cadastro_body {
  margin: 0 auto;
  width: 30%;
  height: 70%;
  background-color: white;
}

img{
  width: 25%;
}

footer {
  background-color: black;
  color: #ecf0f1;
  height: 50px;
  width: 1450px;
  margin: 0 auto;
  vertical-align: bottom;
}
