@media (max-width:1460px) {
  .header_container {
    max-width: var(--larguraM);
    grid-gap: 5px;
    grid-template-columns: 278px auto 60px 100px 50px 60px;
  }

  .main {
    max-width: var(--larguraM);
  }

  .main_grid {
    grid-template-columns: 350px 350px 350px;
  }

  .main_banner {
    grid-column: span 3;
  }

  footer {
    max-width: var(--larguraM);
  }
}

@media (max-width:1090px) {
  .header_container {
    max-width: var(--larguraP);
    grid-template-columns: 278px auto 60px;
  }

  header a {
    display: none;
  }

  .header_user {
    display: none;
  }

  .header_hamburger {
    display: block;
  }

  .main {
    max-width: var(--larguraP);
  }

  .main_grid {
    grid-template-columns: 350px 350px;
  }

  .main_banner {
    display: none;
  }

  footer {
    max-width: var(--larguraP);
    padding-left: 10px;
  }
}

@media (max-width:775px) {
  .header_container {
    max-width: var(--larguraPP);
    grid-template-columns: 250px auto 60px;
  }
  .main_grid {
    grid-template-columns: 275px 275px;
    justify-content: stretch;
  }

  .main {
    max-width: var(--larguraPP);
  }

  .main_card {
    background-color: #bdc3c7;
    width: 220px;
    height: 220px;
  }

  .main_card--img {
    width: 220px;
    height: 190px;
  }

}

@media (max-width: 375px){
  .header_container {
    max-width: 350px;
    grid-template-columns: 100px auto 30px;
  }
  .main_grid {
    grid-template-columns: 300px;
    justify-content: right;
  }

}